@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Teko', sans-serif;
}

html {
  scroll-behavior: smooth;
}

#root {
  background-image: url("./assets/root-bg.jpg");
  animation: movingBg 75000ms infinite linear;
  position: relative;
}

.lowercase {
  text-transform: lowercase;
}

.welcome {
  z-index: 100;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  font-size: 25px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  transition: all 300ms ease;
}

.loading__bar--wrapper {
  margin-top: 20px;
  height: 3px;
  width: 175px;
  background-color: rgba(135, 135, 135, 0.531);
  position: relative;
}

.loading__bar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  height: 100%;
  animation: loadingBar 2000ms ;
  animation-fill-mode: forwards;
}

@keyframes loadingBar {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.welcome__open .welcome{
  display: flex;
  left: 0;
}

.welcome__open #home, .welcome__open #browse, .welcome__open #details, .welcome__open #account {
  display: none;
} 

@keyframes movingBg {
  0% {
    background-position: top right;
  }

  25% {
    background-position: center;
  }

  50% {
    background-position: bottom left;
  }

  75% {
    background-position: center;
  }

  100% {
    background-position: top right;
  }
}

a:hover {
  opacity: 1;
  transform: scale(0.9);
}

a {
  color: white;
  text-decoration: none;
  transition: all 600ms ease;
}

a:visited {
  color: white;
}

button, .logout__btn, .profile__btn {
  background-color: transparent;
  padding: 10px;
  width: 120px;
  border: 1px solid rgba(255, 255, 255, 0.462);
  border-radius: 50px;
  font-size: 20px;
  font-weight: bold;
  z-index: 1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 600ms ease;
  cursor: pointer;
  opacity: 0.7;
}

button:hover, .logout__btn:hover {
  transform: scale(0.95);
  opacity: 1;
  background-color: rgb(94, 86, 212);
  color: white;
}

.smaller {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.449);
}

/* 

  SCROLL BAR 

*/

* {
  scrollbar-width: auto;
  scrollbar-color: #515151 #242424;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #242424;
}

*::-webkit-scrollbar-thumb {
  background-color: #515151;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #4b4b4b;
}

/*

  NAV 

*/

nav {
  width: 100%;
  height: 105px;
}

.nav__container {
  padding: 20px 0;
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__left {
  cursor: pointer;
  height: 60px;
  width: 170px;
  display: flex;
  align-items: center;
}

.logo {
  height: 100%;
  width: 100%;
  opacity: 1;
  z-index: 1;
}

.nav__right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__link {
  font-size: 30px;
  color: white;
  z-index: 1;
  margin-right: 20px;
  opacity: 0.7;
  transition: all 300ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__btn {
  margin-right: 20px;
}

.signup__btn {
  background-color: rgb(212, 86, 86);
}

.profile__btn {
  margin-right: 20px;
}

/* NAV MENU */

.nav__menu {
  display: none;
  cursor: pointer;
  z-index: 11;
  margin-right: 20px;
}

.nav__menu--icon {
  width: 60px;
  height: 3px;
  margin: 12px 0 12px 16px; 
  background-color: white;
  transition: all 300ms ease;
}

.nav__menu--open .nav__menu--icon:first-child {
  transform: rotate(45deg) translateY(10px) scale(0.7);
}

.nav__menu--open .nav__menu--icon:last-child {
  transform: rotate(-45deg) translateY(-10px) scale(0.7);
}

.nav__menu--link {
  opacity: 0;
  transition: all 300ms ease;
}

.nav__menu--page {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  z-index: -10;
  height: 100vh;
  width: 100%;
  background-color: #151515;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: all 1000ms ease;
}

.nav__menu--open .nav__menu--page {
  z-index: 10;
  visibility: visible;
  top: 0;
  transform: translateY(0%)
}

.nav__menu--open .nav__menu--link {
  opacity: 1;
  display: block;
  color: white;
  margin: 40px 0;
  font-size: 40px;
  transition: all 1200ms ease;
}

/*

  HOME PAGE

*/

#home {
  height: 100vh;
  position: relative;
}

.home__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

.dark__cover {
  background-color: #242424;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.9;
}

/* SCROLL */

.scroll__container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  border: 0.5px solid white;
  height: 40px;
  width: 20px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  animation: scroller 2000ms infinite linear;
}

.scroll {
  background-color: white;
  height: 6px;
  width: 3px;
  border-radius: 50px;
}

@keyframes scroller {
  0% {
    padding-top: 5px;
  }

  50% {
    padding-top: 20px;
  }

  100% {
    padding-top: 5px;
  }
}

/* HOME MAIN */

.home__main {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100vh;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
  transition: all 1500ms ease;
}

.home__main--title {
  color: white;
  text-align: center;
  font-size: 40px;
  margin-bottom: 5px;
  z-index: 1;
}

.search__input {
  width: 800px !important;
  height: 80px;
  border: none;
  border: 1px solid lightgray;
  background-color: transparent;
  padding: 0 80px 0 20px !important;
  border-radius: 50px;
  font-size: 26px;
  background-color: white;
  z-index: 1;
  position: relative;
}

.search__icon {
  color: rgb(212, 86, 86);
  font-size: 35px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  margin-right: 30px;
  cursor: pointer;
  transition: all 600ms ease;
}

.search__icon:hover {
  color: rgb(94, 86, 212);
  font-size: 32.5px;
}

.home__main--registration {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  margin-top: 5px;
}

.home__main--login, .home__main--create {
  font-size: 18px;
  color: lightgray;
  z-index: 1;
  cursor: pointer;
  opacity: 0.7;
  transition: all 300ms ease;
}

.home__main--login:hover, .home__main--create:hover {
  opacity: 1;
  transform: scale(1.05);
}

.home__main--login {
  margin-right: 10px;
}

/*

  COPYRIGHT

*/

.copyright {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.copyright__text {
  color: white;
  opacity: 0.4;
  letter-spacing: 1px;
  text-align: center;
}

.copyright__name:hover {
  text-decoration: underline;
}

/*

  BROWSE PAGE 

*/

#browse {
  background-size: contain;
  position: relative;
  min-height: 100vh;
}

.browse__search {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
}

.browse__results {
  margin-top: 10px;
  font-size: 30px;
  color: white;
  opacity: 0.7;
}

.movies__section {
  padding-top: 30px;
  width: 80%;
  margin: 0 auto;
}

.movies__container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 60px;
}

.movie {
  width: 22.5%;
  background-color: rgba(26, 26, 26, 0.75); /* rgba(128, 128, 128, 0.144) */
  border: 1px solid rgba(211, 211, 211, 0.134);
  margin: 0 30px 30px 0;
  transition: all 600ms ease;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.movie:hover {
  transform: scale(0.95);
}

.movie:hover .movie__title, .movie:hover .movie__type {
  opacity: 0;
}

.movie__img {
  width: 100%;
  height: 320px; 
  opacity: 0.8;
}

.movie__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0;
  width: 100%; 
}

.movie__title {
  font-size: 20px;
  color: white;
  margin: 0 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  transition: all 400ms ease;
}

.movie__type {
  text-transform: capitalize;
  opacity: 0.4;
  color: white;
  margin: 0 10px;
  text-align: center;
  transition: all 400ms ease;
}

.movie__more {
  background-color: rgba(0, 0, 0, 0.45); /* rgba(0, 0, 0, 0.45) */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0px;
  opacity: 0;
  transition: height 700ms ease, opacity 600ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie__more--text {
  opacity: 0;
}

.movie__more--text:hover {
  text-decoration: underline;
}

.movie:hover .movie__more {
  height: 72px;
  opacity: 1;
}

.movie:hover .movie__more--text {
  font-size: 25px;
  opacity: 1;
}

/* SKELETON */

.movie__skeleton {
  width: 22.5%;
  margin: 0 30px 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie__img--skeleton {
  width: 100%;
  height: 320px;
  background-color: rgba(211, 211, 211, 0.747);
}

.movie__title--skeleton {
  width: 50%;
  height: 20px;
  background-color: rgba(211, 211, 211, 0.531);
  z-index: 1;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
}

.movie__year--skeleton {
  width: 30%;
  height: 15px;
  background-color: rgba(211, 211, 211, 0.531);
  text-align: center;
  z-index: 1;
  margin: 0 auto;
}

/* 

  DETAILS PAGE

*/

#details {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.set__profile-pic {
  position: absolute;
  top: 10px;
  right: 20px;
  transition: all 300ms ease;
  cursor: pointer;
  font-size: 20px;
  color: rgba(145, 145, 145, 0.188);
}

.set__profile-pic:hover { 
  color: rgb(148, 148, 148);
}

.details__container {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}

.back {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  margin-bottom: 50px;
}

.back__text {
  font-size: 22.5px;
  transition: all 300ms ease;
  z-index: 1;
}

.fa-left-long {
  font-size: 25px;
  transition: all 300ms ease;
  z-index: 1;
}

.back:hover .back__text {
  color: rgb(212, 86, 86);
}

.back:hover .fa-left-long {
  transform: scale(1.2);
  color: rgb(212, 86, 86)
}

.movie__details {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  padding: 50px 0;
  color: white;
  border: 1px solid rgba(15, 15, 15, 0.048); 
  background-color: #141414c2;
  margin-bottom: 5px;
  position: relative;
}

.movie__details--left {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.movie__details--right {
  width: 60%;
}

.movie__details--title {
  font-size: 40px;
}

.movie__details--year {
  font-size: 20px;
  opacity: 0.6;
  margin-bottom: 25px;
  text-transform: capitalize;
}

.movie__details--plot {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 20px;
  max-width: 80%;
}

.movie__details--director, .movie__details--actors, .movie__details--genre, .movie__details--languages, .movie__details--runtime {
  font-size: 20px;
  font-weight: 300;
}

.movie__details--runtime {
  margin-bottom: 20px;
}

.ratings {
  display: flex;
  align-items: center;
}

.imdb__anchor, .rotten__rating, .metascore__rating {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 300;
}

.imdb__rating, .rotten__rating {
  margin-right: 40px;
}

.rating__logo {
  margin-right: 10px;
}

.metascore__logo {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
}

.imdb__logo {
  width: 50px;
  height: 30px
}

.rotten__logo {
  width: 60px;
  height: 60px;
}

/* DETAILS SKELETON */

.movie__details--skeleton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  color: white;
}

.movie__details--img--skeleton {
  height: 400px;
  width: 260px;
  background-color: rgba(211, 211, 211, 0.668);
}

.movie__details--title--skeleton {
  width: 200px;
  height: 30px;
  background-color: rgba(211, 211, 211, 0.668);
}

.movie__details--year--skeleton {
  width: 100px;
  height: 15px;
  background-color: rgba(211, 211, 211, 0.668);
  margin: 30px 0 60px 0;
}

.movie__details--plot-skeleton {
  width: 400px;
  height: 60px;
  background-color: rgba(211, 211, 211, 0.668);
}

.movie__details--info--skeleton {
  width: 160px;
  height: 100px;
  background-color: rgba(211, 211, 211, 0.668);
  margin: 40px 0;
}

.movie__details--ratings--skeleton {
  width: 100px; 
  height: 15px;
  background-color: rgba(211, 211, 211, 0.668);
}

.like__button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: rgba(212, 86, 86, 0.134);
  font-size: 40px;
  transition: all 300ms ease;
  cursor: pointer;
}

.like__button:hover {
  color: rgb(212, 86, 86)
}

.like__button--clicked .like__button {
  color: rgb(212, 86, 86);
}

/* 

  REGISTER MODAL & USER DETAILS

*/

.error {
  color: red;
  z-index: 1;
  font-size: 20px;
  text-align: center;
}

#register, #login, #user__details {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1100px;
  height: 700px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  visibility: hidden;
  z-index: -1; 
  transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
}

.register__open #register, .login__open #login {
  z-index: 60;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
  visibility: visible;
}

.register__container, .login__container, .user__details--container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px 72px;
  justify-content: center;
  position: relative;
  transition: all 300ms ease-in;
  background-image: url("./assets/modal-bg.jpg");
  color: white;
  transform: scale(0);
}

.register__open .register__container, .login__open .login__container, .username__overlay .user__details--container {
  transform: scale(1);
}

.username__overlay #user__details {
  z-index: 60;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
  visibility: visible;
}

.register__open nav, .login__open nav, .username__overlay nav,
.register__open .browse__search, .login__open .browse__search, .username__overlay .browse__search,
.register__open .movies__section, .login__open .movies__section, .username__overlay .movies__section,
.register__open .back, .login__open .back, .username__overlay .back,
.register__open .movie__details, .login__open .movie__details, .username__overlay .movie__details {
  opacity: 0;
}

.register__open .home__bg, .login__open .home__bg, .username__overlay .home__bg {
  filter: brightness(0);
}

.register__form, .login__form, .user__details--form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1;
}

.register__title, .login__title, .user__details--title {
  font-size: 55px;
  text-align: center;
  z-index: 1;
}

.input {
  width: 100%;
  background-color: transparent;
  color: white;
  outline: none; 
  border: 2px solid #c0c4cc;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 50px;
  transition: all 300ms ease;
  font-size: 25px;
}

.input:hover {
  border-color: #dcdfe6;
}

.input:focus {
  border-color: #499cf0;
}

.form__item {
  margin-bottom: 20px;
  width: 60%;
}

.form__item--label {
  font-size: 30px;
}

.form__submit {
  border-radius: 10px;
  cursor: pointer;
  background-color: #499cf0;
  border: 2px solid #499cf0;
  color: white;
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  max-width: 240px;
  padding: 12px 24px;
  margin-top: 20px;
  transition: all 300ms ease;
  opacity: 1;
}

.form__submit:hover {
  border-color: white;
  background-color: transparent;
}

.form__submit:active {
  border-color: #499cf0;
  color: #499cf0;
}

.register__overlay, .login__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
}

.register__overlay--loading, .login__overlay--loading {
  background-color: #242424;
  font-size: 80px;
  z-index: -1;
}

.register__overlay--success, .login__overlay--success {
  background-color: #79b075;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding: 28px;
  z-index: -1;
}

.register__overlay--visible, .login__overlay--visible {
  z-index: 1;
  display: flex;
}

.fa-spinner {
  animation: spinner 750ms infinite linear; 
}

@keyframes spinner {
  0% {
      transform: rotate(0);
  }

  100% {
      transform: rotate(360deg);
  }
}

.register__closer, .login__closer {
  position: absolute;
  top: 30px;
  right: 40px;
  color: white;
  font-size: 36px;
  z-index: 100;
  cursor: pointer;
  transition: all 300ms ease;
}

.register__closer:hover, .login__closer:hover {
  transform: scale(1.25);
}

/* 

  ACCOUNT PAGE

*/

#account {
  background-image: url("./assets/account-bg.jpg");
  min-height: 100vh;
  position: relative;
}

.remove__bg #root {
  background-image: none;
}

.account__container {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}

.account__upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0c0c0c69;
  padding: 20px 40px;
  border: 1px solid rgba(166, 166, 166, 0.072);
}

.account__upper--left, .account__upper--right {
  display: flex;
  align-items: center;
}

.account__upper--right {
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.search__friends {
  color: white;
  font-size: 25px;
  align-self: flex-start;
}

.search__friends--input {
  width: 200px;
  height: 30px;
  border: 1px solid rgba(255, 255, 255, 0.236);
  padding: 5px 10px;
  font-size: 17.5px;
  margin-bottom: 10px;
}

.search__friends--input:focus {
  border: 1px solid rgba(255, 255, 255, 0.565);
}

.follow__button {
  margin-bottom: 10px;
}

.account__following {
  align-self: flex-start;
}

.account__following--other {
  align-self: center;
}

.account__following--title {
  font-size: 20px;
  cursor: pointer;
  transition: all 400ms ease;
}

.account__following--title:hover {
  color: white;
}

.following__users {
  position: absolute;
  top: 110px;
  left: 0;
  min-width: 100%;
  background-color: #242424;
  border: 1px solid rgba(166, 166, 166, 0.072);
  padding: 10px;
  padding-bottom: 0px;
  display: none;
  z-index: 5;
}

.following__users--other {
  top: 90px;
}

.following__user {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.following__user--img {
  min-width: 50px;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.following__user--username {
  font-size: 18px;
  color: white;
  cursor: pointer;
  transition: all 400ms ease;
}

.following__user--username:hover {
  text-decoration: underline;
}

.following__closer {
  position: absolute;
  color: white;
  top: 0;
  right: 0;
  margin: 5px 5px 0 0;
  font-size: 10px;
  cursor: pointer;
  transition: all 300ms ease;
}

.following__closer:hover {
  opacity: 0.7;
}

.following__open .following__users {
  display: block;
}

.is__followed {
  opacity: 1;
  background-color: rgb(94, 86, 212);
  color: white;
}

.account__img--wrapper {
  width: 150px;
  height: 150px;
  border: 1px solid rgba(255, 255, 255, 0.092);
  border-radius: 50%;
  margin-right: 40px;
}

.account__img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.account__name {
  color: white;
  font-size: 54px;
  line-height: 4rem;
}

.account__status {
  color: rgba(255, 255, 255, 0.493);
  font-size: 22px;
}

.account__lower {
  margin: 1px 0;
  display: flex;
  align-items: center;
  width: 100%;
}

.account__likes {
  background-color: #19191969;
  padding: 10px 40px 20px 40px;
  border: 1px solid rgba(166, 166, 166, 0.072);
  margin-bottom: 40px;
  width: 100%;
} 

.account__about--title, .account__likes--title {
  color: white;
  font-size: 35px;
}

.account__about--para {
  color: rgba(255, 255, 255, 0.421);
  font-size: 20px;
} 

.account__likes--movies {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.liked__movie {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  margin-right: 30px;
  height: 185px;
  border-radius: 20px;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  transition: all 300ms ease;
  overflow: hidden;
}

.liked__movie:last-child {
  margin-right: 0 !important;
}

.liked__movie:hover {
  box-shadow: none;
}

.liked__movie--img {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 300ms ease;
  cursor: pointer;
  border-radius: 20px;
}

.liked__movie:hover .liked__movie--img {
  opacity: 0.15;
  transform: scale(0.95);
}

.liked__movie--title {
  color: white;
  z-index: 1;
  opacity: 0;
  text-align: center;
  font-size: 25px;
  transition: all 300ms ease;
  cursor: pointer;
  max-width: 60%;
}

.liked__movie:hover .liked__movie--title {
  opacity: 1;
}

.account__lower--right {
  width: 60%;
}

.account__comments--title {
  color: white;
  font-size: 35px;
}

.comment {
  color: white;
}

/* 

  RESPONSIVENESS

*/

/* SMALL COMPUTERS + IPADS */

@media (max-width: 930px) {

  /* NAV */

  .nav__container {
    width: 90%;
  }

  /* HOME */

  .home__main {
    width: 100%;
  }

  .home__main--title {
    font-size: 35px;
    margin: 0 20px;
  }

  .search__input {
    width: 600px !important;
  }

  /* BROWSE */

  .movie, .movie__skeleton {
    width: 40%;
  }

  /* DETAILS */

  .details__container {
    display: flex;
    flex-direction: column-reverse;
  }

  .movie__details, .movie__details--skeleton {
    flex-direction: column;
  }

  .movie__details--left {
    margin-bottom: 10px;
  }

  .movie__details--right {
    margin: 0 auto;
    text-align: center;
  }

  .movie__details--skeleton div {
    margin: 10px auto;
  }

  .movie__details--img--skeleton {
    margin: 10px 0px !important;
  }

  .movie__details--plot-skeleton {
    width: 100%;
  }

  .movie__details--plot, .movie__details--plot-skeleton{
    max-width: none;
  }

  .back {
    margin-top: 10px;
    width: 30%;
  }

  /* ACCOUNT */

  .account__name {
    margin-right: 10px;
    font-size: 40px;
  }

}

/* PHONES & SMALL PHONES */

@media (max-width: 768px) {

  /* NAV */
  
  .login__btn, .signup__btn, .profile__btn, .logout__btn, .social__link {
    display: none;
  }

  .nav__container {
    width: 100%;
  }

  .nav__menu {
    display: block;
  }

  /* COPYRIGHT */

  .copyright {
    width: 90%;
  }

  .copyright__text {
    font-size: 16px;
  }

  /* HOME */

  .search__input {
    width: 290px !important;
    height: 60px;
  }

  .home__main--title {
    font-size: 30px;
  }

  /* LOGIN / REGISTER / USER DETAILS */

  #login, #register, #user__details {
   width: 100vw; 
   height: 100%;
  }

  .login__container, .register__container, .user__details--container {
  height: 100%;
  width: 100%;
  padding: 5px;
  }

  .login__closer, .register__closer {
  margin-top: 10px;
  }

  .login__title, .register__title, .user__details--title {
    font-size: 35px;
    width: 100%;
    margin-bottom: 10px;
  }

  .error {
    margin-bottom: 10px;
  }

  .form__item--label {
    font-size: 22.5px;
  }

  .form__item input {
    height: 40px;
    font-size: 20px;
  }

  /* BROWSE */

  .movie {
    width: 100%;
    margin: 0 0 30px 0;
  }

  .browse__results {
    font-size: 24px;
    text-align: center;
  }

  /* DETAILS */

  .movie__details--left {
    width: 90%;
  }

  .movie__details--img {
    width: 90%;
  }

  .ratings {
    flex-direction: column;
  }

  .imdb__rating, .rotten__rating, .metascore__rating {
    margin-right: 0;
  }

  .movie__skeleton {
    width: 90%;
    margin: 10px auto;
  }

  /* ACCOUNT */

  .account__upper {
    flex-direction: column;
  }

  .account__img--wrapper, .account__name, .liked__movie {
    margin-right: 0;
    text-align: center;
  }

  .account__status {
    font-size: 17.5px;
    margin-bottom: 10px;
    text-align: center;
  }

  .account__upper--left {
    flex-direction: column;
    align-items: center;
  }

  .search__friends {
    align-self: center;
    font-size: 20px;
    margin-top: 10px;
  }

  .account__likes--title {
    text-align: center;
  }

  .account__likes--movies {
    justify-content: center;
  }

  .account__following {
    align-self: center;
  }

}

